* {
  font-family: monospace;
  font-size: medium;
  letter-spacing: 4px;
  transition: 0.4s;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../../images/background1.jpg);
  background-size:50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr  {
  height: 1px;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

.buttons {
  color: white;
  background-color: transparent;
  border: solid white 1px;
  width: 200px;
  height: 35px;
  border-radius: 7px;
  padding: 5px;
}

.buttons:hover {
  background-color: rgba(188, 120, 255, 0.621);
  cursor: pointer;
}


.modal-button {
  color: white;
  font: bold;
  background-color: transparent;
  height: auto;
  width: 60px;
  padding-left: 10px;
  border: solid white 1px;
  border-radius: 7px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-button:hover {
  background-color: rgba(188, 120, 255, 0.621);
  cursor: pointer;
}

.modal-background {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.66);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#preview-container {
  height: 42vh;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  border: solid white 1px; 
}

#preview-image {
  object-fit: cover;
  height: 100%;
  width: 100%; 
}

#preview-opened {
  position: absolute;
  visibility: hidden;
  height: 60vh;
  z-index: 2;
}

#modal-download-content {
  visibility: hidden;
  color: white;
  background-color: rgba(31, 30, 34, 0.758);
  height: auto;
  width: 300px;
  margin: auto;
  padding: 20px;  
  border-radius: 10px;
  border: solid white 1px;
}

#download-section {
  background-color: rgb(153, 51, 51);
  padding-top: 30px;
  height: 15vh;
  border: solid white 1px;
  border-radius: 10px;
}

.close {
  float: right;
  color: white;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close:hover {
  background-color: rgba(188, 120, 255, 0.621);
  cursor: pointer;
}

#main {
  background-color: rgba(0, 0, 0, 0.505);
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 5px;
  height: auto;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 20px;
  text-align: center;
  color: white;
}

#content {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 10px;
  height: auto;
}

#content-right {
  text-align: justify;
  background-color: rgba(245, 245, 245, 0.112);
  border-radius: 20px;
  display: inline-block;
  padding: 10px;
  margin: 0 5px;
}

#content-left {
  background-color: rgba(245, 245, 245, 0.112);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 250px;
  padding: 10px;
  margin: 0 5px;
}

#navigator {
  height: fit-content;
}

  @media screen and (max-width: 1100px) {
    body {
      align-items: normal;
    }

      #main {
      height: 100%;
      width: 100%;
      box-sizing:border-box;
    }

    #preview-container {
      height: 20vh;
      overflow: hidden;
      cursor: pointer;
      border-radius: 10px;
      border: solid white 1px; 
    }

    #preview-opened {
      position: absolute;
      visibility: hidden;
      height: auto;
      width: 100%; 
      z-index: 2;
    }

    #content {
      grid-template-columns: auto;
      row-gap: 5px; 
    }

    #content-left {
      justify-content: center;
    }

    #content-right {
      height: 20vh;
      overflow: auto;
    }
  }
